.app {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-body {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}